<!DOCTYPE html>
<html>
  <head>
    <title>Password Protected URL</title>
  </head>
  <body>
    <h1>Password Protected URL</h1>
    <form id="password-form">
      <label for="password">Enter Password:</label>
      <input type="password" id="password" name="password" />
      <button type="submit">Submit</button>
    </form>
    <div id="error-message" style="color: red"></div>

    <script>
      const form = document.getElementById("password-form");
      const errorMessage = document.getElementById("error-message");

      form.addEventListener("submit", async (e) => {
        e.preventDefault();
        const password = document.getElementById("password").value;
        const shortCode = "<%= shortCode %>";

        try {
          const response = await fetch(
            `http://localhost:8000/verify-password/${shortCode}?password=${password}`
          );
          const res = await response.json();
          if (response.ok) {
            window.location.href = res.url;
          } else {
            errorMessage.textContent = "Invalid password";
          }
        } catch (error) {
          errorMessage.textContent = "An error occurred";
        }
      });
    </script>
  </body>
</html>
